RewriteEngine On

# Rewrite requests for specific URLs to their corresponding PHP files
RewriteRule ^plants$ plants.php [L]
RewriteRule ^history$ history.php [L]
RewriteRule ^plants_details$ plants_details.php [L]
RewriteRule ^bay_nft$ bay_nft.php [L]
RewriteRule ^user$ user.php [L]
RewriteRule ^my-profile$ my-profile.php [L]
RewriteRule ^change-password$ change-password.php [L]
RewriteRule ^all_notification$ all_notification.php [L]
RewriteRule ^report$ report.php [L]
RewriteRule ^activities$ activities.php [L]

# Rewrite other URLs to their corresponding .php files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ $1.php [L]
